{
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    ["@babel/preset-react"],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "babel-plugin-transform-rename-import",
      {
        "original": "^\\.\\.?\\/(.+/)?(Restaurant|FoodieList|Reviews|Splash|SortOptions)$",
        "replacement": "./$1$2.js"
      }
    ],
    ["@babel/plugin-transform-runtime", { "useESModules": true }]
  ]
}
