.container {
    background-color: lightblue;
    padding: 20px;
    border-radius:  5px;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 350px;
}

.container > ul {
    padding-left: 0;
}

.container > ul > li {
   display: block;
   text-align: left;
   margin-top: 5px;
}

/* Initial hidden state */
.hidden {
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}

/* Visible state */
.visible {
    transform: translateX(0);
    transition: transform 0.5s ease-in;
}

.heading {
    color: darkblue;
}

.opener {
    height: 50px;
    position: absolute;
    right: -60px;
    top: 50%;
    width: 60px;
    z-index: 100;
    background-color: red;
    color: beige;
    border-radius: 0 15px 15px 0;
    padding: 5px 0;
}